<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta property="og:type" content="website">
<meta property="og:url" content="http://site.nicovideo.jp/index.html">
<meta property="og:image" content="./image/ogp.png">
<meta property="og:title" content="<%= title %>">
<meta property="og:site_name" content="<%= title %>">
<meta property="og:description" content="<%= description %>">
<title><%= title %></title>
<meta name="description" content="<%= title %>">
<meta name="format-detection" content="telephone=no">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="" rel="apple-touch-icon-precomposed">
<link rel="icon" href="">
<link rel="stylesheet" href="./css/style.css">
